<div class="container pt-4 pb-3">
  <div class="row mt-2 mx-2"><h1>Postres</h1></div>
  <div class="row">
    <div
      [ngClass]="showCarrito ? 'col-12 col-md-9 order-1' : 'col-12 col-md-12'"
    >
      <div class="container-platos">
        <app-item
          *ngFor="let item of desserts"
          class="card-plato col"
          [item]="item"
          (añadirCarrito)="onPlatoAgregado($event)"
        ></app-item>
      </div>
    </div>
    <div
      *ngIf="obtenerCarrito().length !== 0"
      class="col-10 col-md-3 order-0 carrito"
    >
      <h5>
        Carrito de compra
        <label><img src="../assets/carrito.svg" alt="" /></label>
      </h5>
      <app-item-cart
        *ngFor="let plato of obtenerCarrito()"
        class="card-plato-carrito row"
        [item]="plato"
        (quitarPlato)="onQuitarPlato($event)"
      ></app-item-cart>
      <h5>Precio total: {{ calcPrecioTotal() }}</h5>
    </div>
  </div>
</div>
