:root {
  --text-white: #f3efec;
  --primary-brown: #a23f2e;
  --secondary-brown: #00c8f5;
  --semilight-brown: #cb988e;
  --light-brown: #d6b3af;
  --extralight-brown: #dbc7c0;
  --primary-grey: #b0b4b2;
  --secondary-grey: #cfd1d0;
  --primary-orange: #3a001e;
  --secondary-orange: #c38172;
}
