<div class="">
  <section class="welcome-section">
    <div class="row h-100">
      <div class="col-md-8 px-5 d-flex flex-column justify-content-center">
        <h1 class="mb-4">Bienvenidos al Restaurante Fesac</h1>
        <h3>Descubre la magia en cada bocado</h3>

        <div class="w-100 mt-3">
          <a class="boton text-decoration-none" href="#carta">Ver Carta</a>
        </div>
      </div>
    </div>
  </section>

  <section class="info-section">
    <div class="row my-5 p-5">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-4 p-2 h-50">
          <h3 class="text-center">Experiencia Gastronómica</h3>
          <p>
            Nuestro equipo de chefs apasionados trabaja con ingredientes frescos
            y locales para crear platos que despiertan la curiosidad y deleitan
            el paladar. Cada visita es una oportunidad para probar algo nuevo e
            inesperado.
          </p>
        </div>
        <div class="col-md-4 p-2 h-50">
          <h3 class="text-center">Atmósfera Acogedora</h3>
          <p>
            Te damos la bienvenida a un ambiente acogedor y un servicio atento.
            Ya sea una ocasión especial o una cena espontánea, te sentirás como
            en casa en "Sabores Sorprendentes." Nuestra selección de vinos
            complementa a la perfección cada comida.
          </p>
        </div>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-4 p-2 h-50">
          <h3 class="text-center">Innovación en Presentación</h3>
          <p>
            Descubre la fusión de sabores y arte en cada plato. Nuestro equipo
            creativo de chefs no solo se esfuerza por crear experiencias
            culinarias excepcionales, sino que también presenta cada plato de
            manera única y sorprendente. En "Innovación Gastronómica," la
            estética se combina con el sabor para una experiencia memorable.
          </p>
        </div>
        <div class="col-md-4 p-2 h-50">
          <h3 class="text-center">Cálida Hospitalidad</h3>
          <p>
            En "Hogar de Sabores," no solo ofrecemos deliciosa comida, sino
            también cálida hospitalidad. Nuestro personal amable y atento está
            comprometido a hacer que cada visita sea acogedora y placentera.
            Celebra momentos especiales o disfruta de una comida casual con la
            garantía de un servicio excepcional en un entorno donde te sentimos
            como parte de nuestra familia.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="comollegar-section d-flex align-items-center">
    <div class="row h-100 w-100 d-flex align-items-center">
      <div class="col-md-6 h-100 d-flex align-items-center">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3170.7572597809976!2d-6.002157924051297!3d37.37192017208969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126c39bcf16191%3A0x8f04a87e65571e09!2sFESAC!5e0!3m2!1ses!2ses!4v1696918982280!5m2!1ses!2ses"
          width="100%"
          height="300"
          style="border: 0; height: 80%"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="col-md-6">
        <h3 class="mb-3">Cómo llegar</h3>
        <p>
          En <b>Restaurante Fesac</b>, llegar es fácil y conveniente. Si
          prefieres el metro, la parada de Plaza de Cuba está a solo 10 minutos
          a pie, mientras que la parada de Parque de los Príncipes se encuentra
          a tan solo 5 minutos de distancia. Si optas por el autobús, varias
          líneas, como la 06, C2, C1, y muchas más, te acercarán a nuestro
          establecimiento. Además, si prefieres la bicicleta, hay un parking de
          Sevici a solo 2 minutos del restaurante. ¡Te esperamos con los brazos
          abiertos!
        </p>
      </div>
    </div>
  </section>

  <section class="comentarios-section">
    <div class="row mt-5 h-75">
      <h5>Algunas reseñas de nuestros clientes:</h5>
      <div class="comentarios">
        <div class="col-md-4 comentario-container">
          <h5>Elena Tribiño</h5>
          <p>
            <i class="fas fa-star"></i><i class="fas fa-star"></i
            ><i class="fas fa-star"></i><i class="fas fa-star"></i
            ><i class="fa-solid fa-star-half"></i>
          </p>
          <p>
            "El restaurante es el mejor que he probado nunca, los de la secta
            del Palmar no tienen nada que hacer contra él."
          </p>
        </div>
        <div class="col-md-4 comentario-container">
          <h5>Javier Gómez</h5>
          <p><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
          <p>
            "El restaurante es una basura, no tiene zona para niños pequeños y
            la comida está mala."
          </p>
        </div>
        <div class="col-md-4 comentario-container">
          <h5>Daniel Frutos</h5>
          <p>
            <i class="fas fa-star"></i><i class="fas fa-star"></i
            ><i class="fas fa-star"></i><i class="fa-solid fa-star-half"></i>
          </p>
          <p>
            "He comido de locos pero había un niño de 13 años al lado que no
            paraba de llamar a los camareros."
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
